<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'Page title not set'"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/basic.css}"/>
</head>
<body>

<div class="container">
    <div layout:fragment="content"></div>
</div>
<i class="fab fa-500px"></i>
<th:block th:text="${applicationVersion}"></th:block>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
<script th:each="jsfile : ${jsFiles}" th:src="@{/js/} + ${jsfile}"></script>
<script src="/js/backend.js"></script>

</body>
</html>