<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head"></head>
<body>


<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><i class="fab fa-periscope"></i> Seating Plan</h3>
        </div>


        <div th:text="${designSidebar}"></div>

        <div class="sidebar-body">

            <div th:if="${designSidebar}">

            <div th:replace="fragments/sidebar :: designer"></div>
            </div>


        <h4>Search user</h4>
        <input class="form-control">

<hr>

        <h4>Go to floor</h4>
        <input class="form-control">

        </div>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">



        <nav class="navbar navbar-expand-md navbar-light bg-light app-nav">
            <div id="sidebarCollapse"><i class="fas fa-align-left toggle-icon"></i></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">

                <div class="ml-left gsearch-wrapper">
                    <select class="form-control select2-global-search"></select>
                </div>


                <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/floor/list">Floors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/list">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/group/list">Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/role/list">Roles</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">

                    <a class="btn btn-outline-success my-2 my-sm-0" href="/logout">Logout</a>
                </form>
            </div>
        </nav>



        <div class="container-fluid">

            <div layout:fragment="content"></div>

            <div th:replace="fragments/footer :: footer"></div>

        </div>



    </div>

</div>


</body>
</html>