<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head"></head>
<body>


<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Seating Plan</h3>
            <strong>SP</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="/">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            <li>
                <a href="/publications">
                    <i class="fab fa-leanpub"></i>
                    Publications
                </a>
            </li>
            <li>
                <a href="/users">
                    <i class="fas fa-users"></i>
                    Users
                </a>
            </li>
            <li>
                <a href="/reports">
                    <i class="fas fa-table"></i>
                    My Reports
                </a>
            </li>
            <li>
                <a href="/logs">
                    <i class="fas fa-history"></i>
                    Logs
                </a>
            </li>
            <li>
                <a href="/warnings">
                    <i class="fas fa-exclamation-triangle"></i>
                    Warnings
                </a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
            <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">


        <nav class="navbar navbar-expand-md navbar-light bg-light app-nav">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/floor/list">Floors <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>



        <div class="container-fluid">

            <div layout:fragment="content"></div>

            <div th:replace="fragments/footer :: footer"></div>

        </div>



    </div>

</div>


</body>
</html>