<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>



<h3>Forgot your password?</h3>


<p>To create a new password, just follow this link:</p>

<p>
    <a th:href="${link}">Create new password</a>
</p>
<br>

<p>Link doesn't work? Copy the following link to your browser address bar:</p>
<span th:text="${link}"></span>

<br><br>
<p>You received this email, because it was requested by some user. This is part of the procedure to create a new password on the system.
    If you <b>DID NOT</b> request a new password then please ignore this email and your password will remain the same.</p>


<p>Thank you,</p>


</body>
</html>