<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<body>
<div layout:fragment="content">

    <!--<div class='clearfix'>-->
        <!--<a href="/floor/list" class="btn btn-dark pull-right">Cancel</a>-->
    <!--</div>-->


    <div class="action-block">
        <h4>Rename floor</h4>
    </div>


    <div class="view-block">
    <div class="row">
        <div class="col-md-6">


            <form th:object="${floor}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:field="${floor.name}" />
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Update</button>
            </form>

        </div>
    </div>
    </div>




</div>
</body>
</html>

