<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<body>
<div layout:fragment="content">

    <div class="action-block">
        <div class="row">
            <div class="col-md-6">
                <h3>Add new group</h3>
            </div>
            <div class="col-md-6">
                <a href="/group/list" class="btn btn-primary float-right">Cancel</a>
            </div>
        </div>
    </div>

    <div class="view-block">


    <div class="row">
        <div class="col-md-4">

            <form  th:object="${group}" method="post">


                <div class="form-group">
                    <label>Group name</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:field="${group.name}" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
                </div>

                <div class="form-group">
                    <label>Group name</label>
                    <input type="text" class="form-control jscolor" th:classappend="${#fields.hasErrors('color')} ? is-invalid" th:field="${group.color}" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Error</div>
                </div>

                <button type="submit" class="btn btn-success">Create</button>
            </form>


        </div>
    </div>
    </div>




</div>
</body>
</html>

