<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<body>
<div layout:fragment="content">

    <div class="action-block">
        <div class="row">
            <div class="col-md-6">
                <h3>All Groups</h3>
            </div>
            <div class="col-md-6">
                <a href="/group/add" class="btn btn-primary float-right">Add new</a>
            </div>
        </div>
    </div>



    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successMsg}">
        <span th:text="${successMsg}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorMsg}">
        <span th:text="${errorMsg}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="view-block">

    <table class="table datatable table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td> <i class="fa fa-square color" aria-hidden="true" th:style="'color:#'+${group.color}"> </i>
                <span th:text="${group.name}">...</span>
            </td>

            <td>
                <form th:action="@{/group/delete}" method="post" class="delete_form">
                    <input th:value="${group.id}" name="group_id" type="hidden">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a th:href="@{/group/edit(id=${group.id})}" class="btn btn-primary">Edit</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
    </div>

</div>
</body>
</html>


