<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/admin">
<body>
<div layout:fragment="content">

    <div class='clearfix'>
        <a href="/users" class="btn btn-dark pull-right">Cancel</a>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">

            <form action="#" th:action="@{/user/add}" th:object="${user}" method="post">

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" th:field="*{username}" class="form-control" >
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
                </div>

                <div class="form-group">
                    <label>First name</label>
                    <input type="text" th:field="*{firstName}" class="form-control" >
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error</div>
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" th:field="*{lastName}" class="form-control" >
                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" th:field="*{email}" class="form-control" >
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
                </div>
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="text" th:field="*{startDate}" class="form-control" >
                    <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Error</div>
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <input type="text" th:field="*{endDate}" class="form-control" >
                    <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Error</div>
                </div>
                <div class="form-group">
                    <label>PC Address</label>
                    <input type="text" th:field="*{pcDetails}" class="form-control" >
                    <div th:if="${#fields.hasErrors('pcDetails')}" th:errors="*{pcDetails}">Error</div>
                </div>

                <div class="form-group">
                    <label>Group</label>
                    <select class="form-control">
                        <option>rrrr</option>
                    </select>
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
                </div>

                <div class="form-group">
                    <label>Comment</label>
                    <textarea class="form-control"></textarea>
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
                </div>


                <button type="submit" class="btn btn-success">Create</button>
            </form>


        </div>
    </div>




</div>
</body>
</html>

