<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/admin">
<body>
<div layout:fragment="content">

    <div class='clearfix'>
        <a href="/user/add" class="btn btn-dark pull-right">Add new</a>
    </div>

    <hr>

    <table class="table datatable table-striped table-bordered">
        <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Group(s)</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}">...</td>
                <td><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> </td>
                <td>
                    <span th:each="group : ${user.groups}" th:text="${group.name}">{name}</span>
                </td>
                <td th:text="${user.startDate}">...</td>
                <td th:text="${user.endDate}">...</td>
                <td><a th:href="@{/user/edit(id=${user.id})}" th:text="Edit">...</a></td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>

