<div th:fragment="editor">

    <button type="button" class="btn btn-success btn-block" id="save_svg">Save</button>

<hr>

    <div class="form-group">
        <label>Attach User</label><br>
        <select class="form-control form-control-sm user-select" id="seat_user_id" style="width:100%;">
            <option value="0">None</option>
            <option
                    th:each="user : ${users}"
                    th:value="${user.id}"
                    th:text="${user.getFullName()}"
                    th:attr="data-user-name=${user.getsortName()},data-group-color=${user.groups[0].color},data-group-name=${user.groups[0].name}">{name}</option>
        </select>
    </div>



</div>

<div th:fragment="global">

    <hr>

    <div th:if="${floorid}">

    <h5>Go to floor</h5>

    <form id="sfloor_form">
        <select class="form-control form-control-sm s2-option" style="width:100%;" id="sfloor_id" name="floorid">
            <option
                    th:each="floor : ${globalFloorList}"
                    th:value="${floor.id}"
                    th:text="${floor.name}"
                    th:selected="(${floor.id} == ${floorid})">{name}</option>
        </select>
    </form>

    <hr>
    </div>



    <h5>Filters</h5>

    <small id="emailHelp" class="form-text text-muted">Apply filters on current floor.</small>
    <hr>

    <div class="form-group">
        <label>By name</label>
        <input type="text" class="form-control" >
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">End Date From now</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1 month</option>
            <option>2 months</option>
            <option>3 months</option>
            <option>4 months</option>
            <option>5 months</option>
            <option>6 months</option>
            <option>1 year</option>
        </select>
    </div>

    <div class="form-group">
        <label>By group</label>
        <input type="text" class="form-control" >
    </div>

    <button class="btn btn-success btn-sm">Apply</button>

</div>






<div th:fragment="designer">

    <button type="button" class="btn btn-success btn-block" id="save_svg">Save</button>


    <hr>

    <h5>Add shape</h5>
    <div class="btn-group shape-btn" role="group">
        <button type="button" class="btn btn-outline-dark" onclick="add_shape('orect')">
            <i class="far fa-square"></i>
        </button>
        <button type="button" class="btn btn-outline-dark" onclick="add_shape('hrect')">
            <i class="fas fa-chevron-down" data-fa-transform="rotate-45"></i>
        </button>
        <button type="button" class="btn btn-outline-dark" onclick="add_shape('crect')">
            <i class="fas fa-square"></i>
        </button>
        <button type="button" class="btn btn-outline-dark"onclick="add_shape('line')">
            <i class="fas fa-minus"></i>
        </button>
    </div>




<hr>
    <div id="prop_panel">

        <div class="form-group">
            <label>Color</label>
            <input class="form-control form-control-sm jscolor" id="shape_color">
        </div>

        <div class="form-group">
            <label>Position</label>
            <div class="btn-group btn-group-sm shape-btn" role="group" aria-label="Basic example">
                <button type="button" id="to_front" class="btn btn-primary">To Front</button>
                <button type="button" id="to_back" class="btn btn-primary">To Back</button>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Left</label>
                    <div class="ddd">
                        <input type="number" class="form-control form-control-sm" id="x_pos">
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Right</label>
                    <div class="ddd">
                        <input type="number" class="form-control form-control-sm" id="y_pos">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Width</label>
                    <div class="ddd">
                        <input type="number" class="form-control form-control-sm" id="w_pos">
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Height</label>
                    <div class="ddd">
                        <input type="number" class="form-control form-control-sm" id="h_pos">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Thickness</label>
                    <div class="ddd">
                        <input type="number" class="form-control form-control-sm" id="stroke_width">
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Angle</label>
                    <div class="ddd">
                        <input type="number" class="form-control form-control-sm" id="rotation">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>