<div th:fragment="designer">

    <button type="button" class="btn btn-success btn-block" id="save_svg">Save</button>




    <div class="btn-group shape-btn" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark" onclick="add_shape('orect')" data-toggle="tooltip" data-placement="right" title="Closed shape">
            <i class="far fa-square"></i>
        </button>
        <button type="button" class="btn btn-dark" onclick="add_shape('hrect')" data-toggle="tooltip" data-placement="right" title="Corner shape">
            <i class="fas fa-chevron-down" data-fa-transform="rotate-45"></i>
        </button>
        <button type="button" class="btn btn-dark" onclick="add_shape('crect')" data-toggle="tooltip" data-placement="top" title="Seat">
            <i class="fas fa-square"></i>
        </button>
        <button type="button" class="btn btn-dark"onclick="add_shape('line')" data-toggle="tooltip" data-placement="right" title="Wall">
            <i class="fas fa-minus"></i>
        </button>
    </div>





    <div id="prop_panel">
        <h5>Shape properties</h5>

        <div class="form-group">
            <label>Color</label>
            <input class="form-control form-control-sm jscolor" id="shape_color">
        </div>

        <div class="form-group">
            <label>Position</label>
            <div class="btn-group btn-group-sm shape-btn" role="group" aria-label="Basic example">
                <button type="button" id="to_front" class="btn btn-primary">To Front</button>
                <button type="button" id="to_back" class="btn btn-primary">To Back</button>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Left</label>
            <div class="col-sm-8">
                <input type="number" class="form-control form-control-sm" id="x_pos">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Right</label>
            <div class="col-sm-8">
                <input type="number" class="form-control form-control-sm" id="y_pos">
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Width</label>
            <div class="col-sm-8">
                <input type="number" class="form-control form-control-sm" id="w_pos">
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Height</label>
            <div class="col-sm-8">
                <input type="number" class="form-control form-control-sm" id="h_pos">
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Thick</label>
            <div class="col-sm-8">
                <input type="number" class="form-control form-control-sm" id="stroke_width">
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Angle</label>
            <div class="col-sm-8">
                <input type="number" class="form-control form-control-sm" id="rotation">
            </div>
        </div>
    </div>

</div>