<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/admin">
<body>
<div layout:fragment="content">

    <div class='clearfix'>
        <a href="/user/add" class="btn btn-dark pull-right">Add new</a>
    </div>


    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successMsg}">
        <span th:text="${successMsg}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <hr>

    <table class="table datatable table-striped table-bordered">
        <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Group(s)</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td>
                    <a th:href="@{/user/details(id=${user.id})}" th:text="${user.username}">..</a>
                </td>
                <td><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> </td>
                <td th:text="${user.email}">...</td>
                <td th:text="${user.startDate}">...</td>
                <td th:text="${user.endDate}">...</td>
                <td>
                    <span th:each="group : ${user.groups}" th:text="${group.name}">{name}</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>

