<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/basic">
<body>
<div layout:fragment="content">


    <div class="row justify-content-md-center account-box">
        <div class="col-md-4 col-md-auto">
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username or password.
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <h3>Set new password</h3>
            <hr>



            <div th:if="${passNotMatched}" class="alert alert-danger">
                Password did not match.
            </div>

            <form th:object="${passwordUpdateForm}"  method="POST">

                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" th:classappend="${#fields.hasErrors('password')} ? is-invalid" th:field="${passwordUpdateForm.password}" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
                </div>

                <div class="form-group">
                    <label>Verify New Password</label>
                    <input type="password" class="form-control" th:classappend="${#fields.hasErrors('confirmPassword')} ? is-invalid" th:field="${passwordUpdateForm.confirmPassword}" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Error</div>
                </div>

                <button type="submit" class="btn btn-success">Continue</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>