<!DOCTYPE html>
<html>
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'NDORMS Imaging Competition' "></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/frontend.css"/>
</head>
<body>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4 col-md-auto">
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username or password.
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <h3>Set new password</h3>

            <div th:if="${errMsg}" class="alert alert-danger" th:text="${errMsg}"></div>

            <form th:action="@{/updatepassword}" name="loginForm"  method="POST" id="needs-validation">

                <div class="form-group">
                    <label>New password</label>
                    <input type="password" class="form-control" name="password"  />
                </div>

                <div class="form-group">
                    <label>Confirm new password</label>
                    <input type="password" class="form-control" name="confirmpassword"  />
                </div>

                <button type="submit" class="btn btn-success">Update</button>
            </form>


        </div>

    </div>
</div>

</body>
</html>