<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/dashboard">
<body>
<div id="page" layout:fragment="content">

    <div id="wrapper">


        <div id="sidebar">

            <div class="design-logo"><i class="fa fa-paw" aria-hidden="true"></i> Seating Plan</div>
            <br><br>

            {{$scope}}
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <!--<div id="seating-plan"></div>-->
        <!-- /#page-content-wrapper -->


        <seating-plan-directive></seating-plan-directive>


    </div><!-- /#wrapper -->

</div>
</body>
</html>

